= title "Nachricht an den Initiator der Initiative"

.row.initiative.contact
  .large-10.columns
    %h1
      Nachricht an den Initiator der Initiative

    %p
      Hier kannst du eine Nachricht an den Initiator der Initiative schicken. Ihr Benutzername und Ihre E-Mail Adresse erscheinen automatisch in der gesendeten E-Mail.


    = form_for 'message', :url => contact_initiative_path(@initiative), :html => { :method => :post, :class => "" } do |f|
      = f.text_area :body, :rows => 20

      = f.submit 'Senden', :class => "button radius"
