= title "Neue Initiative"

.row.initiative.neu
  .large-12.columns
    %h1 Neue Initiative
.row.initiative.neu
  .large-8.columns
    .shape.bright-grey
      %h2
        Einführung
      %p
        Wir freuen uns, dass Du eine Initiative bei Frankfurt Gestalten einreichen willst. Wir brauchen mehr Leute wie Dich! Doch bevor Du uns Dein Anliegen beschreibst, möchten wir Dir ein paar Tipps geben:
      %ul
        %li
          Motiviere andere Mitglieder indem Du einfach und spannend schreibst.
        %li
          Bleibe am Ball und aktualisiere regelmäßig Deine Initiative.
        %li
          Bitte verorte Deine Initiative damit das für Leser noch konkreter wird.
        %li
          Benutze bitte auch die Suche, um bei den bereits bestehenden Initiativen und Vorlagen der Ortsbeiräte nach den Themen zu schauen, die Deinem Anliegen entsprechen.
        %li
          Werbe für Unterstützer zum Beispiel auf 
          %a{:href => 'https://www.facebook.com'}
            Facebook
          oder anders wo.
  .large-4.columns
    .fa.fa-smile-o{:style => "font-size: 255px; color: #E96300; margin-top: 30px;"}

.row.initiative.neu
  .large-12.columns
    = render 'form'
