#widget.shape.bright-grey
  %h3
    Newsletter
  %form#mc-embedded-subscribe-form.validate{action: "http://frankfurt-gestalten.us1.list-manage.com/subscribe/post?u=97be5218ca0ada0b90d8326ae&id=fc4198bf0b", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
    %h4 Der Wöchentliche Überblick per E-Mail
    .mc-field-group
      %input#mce-EMAIL.required.email{name: "EMAIL", type: "email", value: "E-Mail"}/
    #mce-responses.clear
      #mce-error-response.response{style: "display:none"}
      #mce-success-response.response{style: "display:none"}
    %div{style: "position: absolute; left: -5000px;"}
      %input{name: "b_97be5218ca0ada0b90d8326ae_fc4198bf0b", type: "text", value: ""}/
    %input#mc-embedded-subscribe.button.secondary.radius{name: "subscribe", type: "submit", value: "Abonnieren"}/