#widget.shape.bright-grey
  %h3
    %span.backicon.construction-back
      .fa.fa-warning
    Aktuelle Baustellen
  - if @constructions.size > 0
    %ul.side-nav
      - @constructions.recent.each do |construction|
        %li
          = link_to (truncate(construction.description_long, :length => 50, :omission => '...')), construction_path(construction)
          (#{l construction.start_date, :format => :short} - #{l construction.end_date, :format => :short})
  - else
    %p
      Zur Zeit keine Baustellen in diesem Stadtteil. Gute Fahrt!
  %span.smaller-font
    Diese Informationen werden Ihnen bereitgestellt von:
    %br
    Stadt Frankfurt am Main, Straßenverkehrsamt
    Lizenz:
    %a{href: "https://www.govdata.de/dl-de/by-2-0", target: "_blank"}
      Datenlizenz Deutschland - Namensnennung - Version 2.0
