- title 'Einführung'

.row.pages.einfuehrung
  .large-12.columns
    %h1
      Einführung
.row.pages.einfuehrung
  .large-6.medium-6.columns.spacebottom
    %h2
      %span.backicon.construction-back
        .fa.fa-envelope
      Informieren
    %p
      Frankfurt Gestalten ist ein
      %b
        Informationsservice.
      Wir glauben an eine bessere Transparenz in der Lokalpolitik und bieten daher die folgenden Informationen an:
    %ul
      %li
        Wir liefern über 30.000 Ortsbeiratsanträge von 10 Jahren Lokalpolitik, die so ziemliche alle lokalpolitischen Entwicklungen der Stadtteile in Frankfurt abdecken. Diese Informationen stammen aus dem
        %a{:href => "http://www.stvv.frankfurt.de/parlis2/index.htm"}
          Parlamentsinformationssystem (Parlis)
        der Stadt Frankfurt und werden von uns anhand der Straßen einem Ortsbezirk zugeordnet.
      %li
        Bei uns können die Themen der Lokalpolitik nach einem beliebigen Stichwort per E-Mail abonniert werden.
      %li
        Das ist nicht alles. Du kannst auch gezielt für einen Stadtteil alle News bequem per E-Mail erhalten.
  .large-6.medium-6.columns
    %h2
      %span.backicon.initiative-back
        .fa.fa-comments
      Engagieren
    %p
      Unsere Plattform ist ein
      %b
        Mittler zwischen Bürgern
      mit gleichen Interessen, damit sich diese finden und austauschen können. Ein Beispiel ist die sehr lebhafte Diskussion zur 
      %a{:href => "/initiativen/85625"}
        Erweiterung des Museumsparks.
    %h2
      %span.backicon.antraege-back
        .fa.fa-bullhorn
      Gestalten
    %p
      Wir glauben, dass viele Bürger in Frankfurt
      %b
        gute Ideen für eine bessere Stadt haben.
      Wir bieten daher allen Bürgern ihre Ideen auf der Website Frankfurt Gestalten als “Initiative” einzutragen.
      Eine gute Idee bzw. eine bei Frankfurt Gestalten eingestellte Initiative hängt auch vom Engagement des Initiators ab. Hierzu bieten wir die diese Plattform, Gleichgesinnte zu treffen, die ein ähnliches Anliegen haben oder die Idee unterstützen möchten.

.row.pages.einfuehrung
  .large-6.medium-6.columns.spacetop
    %h2
      Was bisher geschah
    %h3
      Start 2010
    %p
      Die Kombination von Informationen und Engagement war die Auftaktidee von Frankfurt Gestalten. Im Ratsinformationsystem der Stadt Frankfurt schlummern interessante Informationen, die man nur besser aufbereiten muss.
      So starteten wir im Frühjahr 2010 Frankfurt Gestalten.
    %h3
      Große Aufmerksamkeit
    %p
      Zeit online titelte:
      %a{:href => "http://www.zeit.de/digital/internet/2010-08/umfrage-open-data"}
        "Eines der interessantesten Projekte hierzulande ist Frankfurt gestalten."
      Bis heute haben mehrere
      %a{:href => "/presse"}
        Zeitungen und Fernsehstationen
      über das Projekt berichtet und viele Blogs Artikel über unser partizipatives Projekt verfasst.

  .large-6.columns
    = link_to image_tag('einfuehrung/alte_frankfurt_gestalten.png', alt: "Logo", :id => "logo", :class => "photo"), root_url
.row
  .large-6.medium.columns
    %h2
      Häufige Fragen
    %h4
      Kann die Plattform hinter Frankfurt Gestalten auch anderweitig genutzt werden?
    %p
      Ja. Die ganze Plattform ist Dank
      %a{:href => "https://github.com/frankfurt-gestalten", :target => "_blank"}
        Open Source Software bald frei verfügbar.
      -#Das Schwesterprojekt
      -#%a{:href => "http://www.unserac.de", :target => "_blank"}
      -#  unserAC.de
      -#hat hier mit der
      -#%a{:href => "http://www.aachener-stiftung.de", :target => "_blank"}
        Aachener Stiftung Kathy Beys
      -#großartige Unterstützung geleistet.
    %h4
      Wie finanziert sich diese Website?
    %p
      Die Webseite lebt von ehrenamtlichem Engagement und von Spenden.
    %h4
      Ist Frankfurt-Gestalten.de mit einer Partei verbunden?
    %p
      Nein. Dieses Webangebot ist überparteilich und hat keinerlei Zugehörigkeit zu einer Partei.
  .large-6.columns
    %h2
      Team
    %p
      Hinter Frankfurt Gestalten stehen:
      %a{:href => "https://twitter.com/ckreutz"}
        Christian Kreutz,
      %a{:href => "https://twitter.com/jke"}
        Juergen Eichholz,
      %a{:href => "https://twitter.com/amokleben"}
        Niko Wenselowski 
      und Claudia Prinz.
    %p
      Besonderen Dank gilt folgenden Begleitern, die uns viel geholfen haben:
      Daniel Göz, Martin Reiter, Wolfgang Weicht, Fredrik Lassen.
