:javascript
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.crisscrossed.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

= javascript_include_tag "application"
:javascript
  $(document).foundation();
  $('a.login-window').foundation('reveal');
  $(".close-tutorial").click(function(){
    $('#request').foundation('reveal', 'close');
    return false;
  });
  ouibounce(document.getElementById('request'), {
  sitewide: true,
    callback: function() { $('#request').foundation('reveal', 'open'); }
  });

= yield(:footer)
= yield(:inline_js)